.header-container{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 70px;
    /* background: blue; */
    margin: 0 auto;
  
}

.header{
    max-width: 1154px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar ul li{
    list-style-type: none;
    color: rgb(46, 50, 54);
    font-size: 20px;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.header-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: rgb(46, 50, 54);
    background-color: #FF8551;
    font-weight: 700;
}

.logo span{
    color: rgb(46, 50, 54);

}


